<h1>Welcome to Some_Chat</h1>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @login %>.<br>
</p>
<p>
  To confirm your email, just follow this link: <%= link_to "Confirm!", @confirmation_url %>.
</p>
<p>Thanks for joining and have a great day!</p>