<li>
  <%= image_tag(user.show_avatar(:thumb),alt: user.login) %>
  <%= link_to user.login, user %>
  <% if user.online? %>
    <span class="online">online</span>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_user_link' %>
  <% end %>
  <% unless current_user == user %>

    <%= render 'user_list_block', user: user %>

  <% end %>
</li>