@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

.navbar {
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: lightslategrey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: lightslategrey;
    text-decoration: none;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  color: #555;
  font-size: 16px;
  display: block;
}

input {
  height: auto !important;
  &[type=submit] {
    margin-top: 30px;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.sub-signin-block {
  margin-top: 5%;
}

/* user page */

.navbar-fixed-left {
  width: 220px;
  background-color: white;
  border: none;
  height: 100%;
  img {
    width: 100%;
    margin: auto;
  }
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 200px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.friend_type_panel {
  padding: 2%;
  padding-bottom: 4%;
  width: 95%;
  margin-left: 5%;
  margin-bottom: 2%;
  background-color: #d5e8ff;
  a {
    color: #555;
  }
}

.user_login_show{
  font-size: 2em;
  line-height: 2em;
}
.user_start_conversation {
  margin-bottom: 30%;
}
.user_show_friends {
  .friends_count_title {
    padding: 5%;
    border-radius: 2px;
    background-color: #f8f8f8;
    width: 100%;
    a {
      font-size: 1.2em;
      color: lightslategrey;
    }
  }
  .user_show_avatars {
    width: 95%;
    display: block;
    margin-top: 5%;
    padding-left: 5%;
    img {
      width: 49%;
      margin-bottom: 5px;
    }
  }
  display: block;
  min-height: 250px;
  width: 100%;
}
.messages {
  min-height: 200px;
  list-style: none;
  text-align: left;
  padding: 5px;
  li {
    padding: 10px 0;
  }
}
.message_overflow {
  overflow-y: scroll;
  max-height: 400px;
  overflow-x: hidden;
  padding: 2%;
  margin-bottom: 25px;
}
.new_message {
  font-size: 0.9em;
  margin-bottom: -100px;
  input[type=submit] {
    margin-top: -5%;
  }
}
.recipient_image{
  margin-left: 10%;
  margin-right: 0;
}
.conversations {
  .conversation_recipient {
    font-size: 0.9em;
  }
  .list_message {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 70%;
    .conversation_last_message {
      font-size: 1em;
      color: lightslategrey;
    }
  }
}
.users, .conversations {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightslategrey;
    a {
      margin-left: 2%;
    }
    .delete_user_link {
      color:lightslategrey;
    }
    &:last-child {
      border-bottom: 1px solid lightslategrey;
    }
    .user_list_block {
      width: 20%;
      height: auto;
      float: right;
      color: lightslategrey;
      .user_list_link {
        padding: 3% 20%;
        margin-top: 10px;
        width: 98%;
      }
      .list_button {
        margin-top: 5%;
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}