<div id="link_preview" class="link_preview">
  <div class="row">
    <div class="col-md-2">
      <img id="link_image">
    </div>
    <div class="col-md-8 col-md-offset-1">
      <span id="link_title"></span>
      <span id="description_link"></span>
      <a id="link_url"></a>
    </div>
  </div>
</div>